Reference Resolution

[RFC3986 Section 5](https://datatracker.ietf.org/doc/html/rfc3986#section-5)